<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-center">
        <%= link_to  "Home", root_path, class: "nav-link text-muted" %>
        <%= link_to  "About Me", about_me_path, class: "nav-link text-muted" %>
        <%= link_to  "Contact", contact_path, class: "nav-link text-muted" %>
        <%= link_to  "Blogs", blogs_path, class: "nav-link text-muted" %>
        <%= link_to  "Portfolios", portfolios_path, class: "nav-link text-muted" %>
    </nav>
</div>