<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="keywords" content="<%= @seo_keywords %>" />

  <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">

    <!--Start of Blog header-->
    <%= render  "shared/blog_header" %>
    <!--End of blog header-->

    <!--Start of nav-->
    <%= render  "shared/blog_nav" %>
    <!--End of nav-->
    <div class="pb-4 mb-4 border-bottom">
      <h2 class="font-italic">
        My Blog
      </h2>
      <%= link_to "Write a new Blog", new_blog_path if logged_in?(:site_admin) %>
    </div>
  </div>
  <!--Start of container and row element-->
  <main role="main" class="container">
    <div class="row">
      <!--p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p-->

      <%= yield %>

      <%= render  "shared/blog_sidebar" %>

      <%= source_helper("blog") %>

    </div><!-- /.row -->
  </main>

  <!--Start of footer-->

  <footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
        href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>

  <!--End of footer-->

</body>

</html>